        <div class="weui-tabbar">
            <a href="/books/types" class="weui-tabbar__item">
                <span style="display: inline-block;position: relative;">
                        <!-- <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon"> -->
                        <i class="fa fa-book weui-tabbar__icon"></i>
                        <!-- <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span> -->
                </span>
                <p class="weui-tabbar__label">书籍列表</p>
            </a>
            <a href="/usercenter" class="weui-tabbar__item">
                <span style="display: inline-block;position: relative;">
                        <i class="fa fa-user weui-tabbar__icon"></i>
                    </span>
                <p class="weui-tabbar__label">我</p>
            </a>
        </div>